openapi: 3.0.2
info:
  title: OCA Repository
  description: ''
  version: 0.4.4
servers:
  - url: https://repository.oca.argo.colossi.network/api/
  - url: http://localhost:8000
tags:
  - name: Public API
    description: Endpoints to manage the OCA Bundles


paths:
  /oca-bundles:
    post:
      tags: [Public API]
      summary: Creates an OCA Bundle from OCAfile
      requestBody:
        content:
          text/plain:
            schema:
              type: string
            example: |
              ADD ATTRIBUTE d=Text i=Text passed=Boolean
              
              ADD META en PROPS name="Entrance credential" description="Entrance credential"
              
              ADD CHARACTER_ENCODING ATTRS d=utf-8 i=utf-8 passed=utf-8
              ADD CONFORMANCE ATTRS d=M i=M passed=M
              ADD LABEL en ATTRS d="Schema digest" i="Credential Issuee" passed="Passed"
              ADD INFORMATION en ATTRS d="Schema digest" i="Credential Issuee" passed="Enables or disables passing"
      responses:
        '200':
          description: OCA Bundle created successfully
          content:
            application/json:
              schema:
                type: object
                items:
                  type: object
                  properties:
                    success:
                      type: boolean
                    said:
                      type: string

  /oca-bundles/{said}:
    get:
      tags: [Public API]
      summary: Get OCA Bundle
      parameters:
        - name: said
          in: path
          required: true
          description: OCA Bundle SAID
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Bundle not found

  /oca-bundles/{said}/steps:
    get:
      tags: [Public API]
      summary: List OCAFile steps to get OCA Bundle
      parameters:
        - name: said
          in: path
          required: true
          description: OCA Bundle SAID
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Bundle not found

  /oca-bundles/{said}/ocafile:
    get:
      tags: [Public API]
      summary: List OCAFile to get OCA Bundle
      parameters:
        - name: said
          in: path
          required: true
          description: OCA Bundle SAID
          schema:
            type: string
      responses:
        '200':
          description: Successful response
        '404':
          description: Bundle not found

components:
  securitySchemes:
    namespaceToken:
      type: http
      scheme: bearer
